@font-face {
  font-family: tnr;
  src: url(./static/TNR.ttf);
}
body {
  margin: 0;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
  /* font-family: tnr; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  font-size: 20px;
  letter-spacing: -0.003em;
  line-height: 32px;
}

* {
  color: white !important;
}

button {
  background: black;
  font-size: 16px;
  letter-spacing: -0.003em;
  line-height: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
